<!-- nav -->
<div class="nav-section">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">HealthyPet</a>
    <form class="form-inline ml-auto">
      <button class="btn btn-outline-success my-2 my-sm-0" onclick="return false;" (click)="addPet()">Add Pet</button>
      <button class="btn btn-outline-danger my-2 my-sm-0" onclick="return false;" (click)="logOut()">Log Out</button>
    </form>
  </nav>
</div>
<!-- /nav -->

<!-- cards -->
<div class="cards">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 my-2" *ngFor="let pet of pets">
      <div class="card">
        <img class="card-img-top" src="api/pets/{{pet.id}}/image" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{pet.name | uppercase}}</h5>
          <p class="card-text"><b>Id:</b> {{pet.id}}</p>
          <p class="card-text"><b>Age:</b> {{pet.age}}</p>
          <div style="display: flex; justify-content: space-between;">
              <a href="#" class="btn btn-secondary" onclick="return false;" (click)="openInfoModal(pet)">View details</a>
              <a href="#" style="width: 47%;" class="btn btn-secondary" onclick="return false;" (click)="openInfoModal(pet)">Edit</a>
    
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- /cards -->
