.nav-section {
    button {
        margin: 0 5px;
    }
}

.cards {
    padding: 20px;
    margin: 0 auto;

    .card {
        margin: 0 auto;
        max-width: 300px;
        background-color: antiquewhite !important;

        img {
            max-height: 125px;
        }
    }
}
