<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input [(ngModel)]="model.name" name="name" type="text" class="form-control" id="name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input [(ngModel)]="model.age" name="age" type="number" class="form-control" id="age" placeholder="3" min="0" max="40">
    </div>
    <div class="form-group">
      <label for="photo">Photo</label>
      <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" #fileInput class="custom-file-input" id="inputGroupFile01">
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
      </div>
    </div>
    <div class="form-group mb-0" style="text-align: center;">
      <button class="btn btn-primary mx-2" onclick="return false;" (click)="addPet()">Add</button>
      <button class="btn btn-primary mx-2" onclick="return false;" (click)="activeModal.close()">Cancel</button>
    </div>
  </form>
</div>
