<div class="wrapper animated fadeIn">
  <!-- nav -->
  <div class="nav-section">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">HealthyPet</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#info">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#download">Download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#join-us">Join Us</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- /nav -->

  <!-- main -->
  <div class="main-section" id="scene">
    <div class="info-img"></div>

    <div class="container my-4" id="info">
      <div class="row">
        <h2 class="header-text mb-2 col-md-12 text-center">About Us</h2>
        <p class="text-center col-md-12">An online animal diary where you can take care of all your pets, and even plan appointments to your doctor!</p>
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <div class="text-center">
              <i class="fas fa-dog"></i>
              <p>Check the pet's activities</p>
              <p>Their long association with humans has led dogs to be uniquely attuned to human behavior and they are able to thrive on a starch-rich diet that would be inadequate for other canid species</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="text-center">
              <i class="fas fa-paw"></i>
              <p>Stay in touch</p>
              <p>The paw is characterised by thin, pigmented, keratinised, hairless epidermis covering subcutaneous collagenous and adipose tissue, which make up the pads</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="text-center">
              <i class="fas fa-cat"></i>
              <p>Get the appointment</p>
              <p>A pig is any of the animals in the genus Sus, within the even-toed ungulate family Suidae. Pigs include the domestic pig and its ancestor, the common Eurasian wild boar, along with other species</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="download-img"></div>

    <div class="container my-4" id="download">
      <div class="row">
        <h2 class="header-text mb-2">Download The App</h2>
        <p class="text-center">The App is available to download on your Apple or Android smartphone or tablet. Just click on the button below that corresponds to your store and you can download in just a few seconds</p>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6 my-2 as">
          <img class="as-link" src="./../../assets/as.png" alt="Apple Store">
        </div>
        <div class="col-sm-12 col-md-6 my-2 gp">
          <img class="gp-link" src="./../../assets/gp.png" alt="Google Play">
        </div>
        </div>
    </div>

    <div class="row join-us-img align-items-center" id="join-us">
      <div class="col-12">
          <a role="button" class="btn btn-light btn-lg" (click)="openLoginModal()">Join Us</a>
      </div>
    </div>
  </div>
  <!-- /main -->

  <!-- footer -->
  <footer>
    <div class="footer-copyright">
      <div class="container-fluid text-center">
        © {{currentYear}} Alona Kotenko. All rights reserved.
      </div>
    </div>
  </footer>
  <!-- /footer -->
</div>