/* parallax */
.info-img, .download-img, .join-us-img {
    height: 450px;
    background-image: url('../../assets/bg.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
}

/* main */
.header-text {
    margin: 0 auto;
    color: #4ca76b;
}

.fas {
    font-size: 45px;
    margin: 20px 0;
    color: #4ca76b;
}

#download {
    .as {
        text-align: center;

        .as-link {
            max-width: 200px;
        }
    }

    .gp {
        text-align: center;

        .gp-link {
            max-width: 220px;
        }
    }

    img {
        cursor: pointer;
        -webkit-user-drag: none;
    }
}

.join-us-img {
    text-align: center;
}

/* footer */

footer {
    .row {
        text-align: center;
    }

    .footer-copyright {
        background-color: #a8c58f5e;
    }
}