<div class="modal-body">
  <div class="container">

    <div class="row justify-content-center my-2">
      <div class="col-6" style="text-align: center;">
        <h2>Activity</h2>
      </div>
    </div>

    <div class="row justify-content-center mb-4">
      <div class="col-8 p-0" style="text-align: center;">
        <div class="input-group">
          <input class="form-control" [(ngModel)]="model.startDate" name="dp" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mb-4">
      <div class="col-8 p-0" style="text-align: center;">
        <div class="input-group">
          <input class="form-control" type="number" min="0" [(ngModel)]="model.duration" placeholder="Duration">
        </div>
      </div>
    </div>

    <div class="row justify-content-center mb-4">
      <div class="col-8 p-0" style="text-align: center;">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Activity Type</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" *ngFor="let type of activityTypes" (click)="onChangeActivityType(type.value)">{{type.value}}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center mb-4">
      <div class="col-8 p-0" style="text-align: center;">
        <div class="input-group">
          <textarea class="form-control" [(ngModel)]="model.description" placeholder="Description"></textarea>
        </div>
      </div>
    </div>

    <div class="form-group mb-0" style="text-align: center;">
      <button class="btn btn-primary mx-2" onclick="return false;" (click)="add()">Add</button>
      <button class="btn btn-primary mx-2" onclick="return false;" (click)="activeModal.close()">Cancel</button>
    </div>
  </div>
