<!-- nav -->
<div class="nav-section">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">HealthyPet</a>
        <form class="form-inline ml-auto">
            <button class="btn btn-outline-danger my-2 my-sm-0" onclick="return false;" (click)="logOut()">Log Out</button>
        </form>
    </nav>
</div>
<!-- /nav -->

<!-- list of events -->
<ul class="list-group">
  <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center" *ngFor="let ac of model">
    {{ac.activityType.value}}
    <b>{{ac.pet.name}}</b>
    <span class="badge badge-primary badge-pill" (click)="sendEmail(ac)"><i class="fas fa-envelope"></i></span>
  </li>
</ul>
<!-- /list of events -->
