.tab-content {
    padding: 10px;
}

.nav-tabs {
    display: flex;
    justify-content: center;

    .nav-link:focus {
        outline-color: #f8f9fa;
    }
}

a {
    color: #4ca76b;
}

.btn-primary {
    background-color: #4ca76b;
    border-color: #4ca76b;
}

.form-control:focus {
    border-color: #4ca76b;
    box-shadow: 0 0 0 0.2rem rgba(146, 187, 158, 0.25);
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(146, 187, 158, 0.25);
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #4ca76b;
    border-color: #4ca76b;
}

.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(113, 184, 134, 0.25);
}