<div class="modal-body">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-sign-in-tab" data-toggle="tab" href="#nav-sign-in" role="tab" aria-controls="nav-sign-in" aria-selected="true">Sign In</a>
      <a class="nav-item nav-link" id="nav-sign-up-tab" data-toggle="tab" href="#nav-sign-up" role="tab" aria-controls="nav-sign-up" aria-selected="false">Sign Up</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-sign-in" role="tabpanel" aria-labelledby="nav-sign-in-tab">
      <form>
        <div class="form-group">
          <label for="sign-in-email">Email address</label>
          <input required [(ngModel)]="model.email" name="sign-in-email" type="email" class="form-control" id="sign-in-email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="sign-in-password">Password</label>
          <input required [(ngModel)]="model.password" name="sign-in-password" type="password" class="form-control" id="sign-in-password" placeholder="Password">
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="error">
          User is not found!
        </div>
        <div class="form-group" style="text-align: center; margin-bottom: 0;">
          <button type="submit" class="btn btn-primary" (click)="signIn()">Sign In</button>
        </div>
      </form>
    </div>
    <div class="tab-pane fade" id="nav-sign-up" role="tabpanel" aria-labelledby="nav-sign-up-tab">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input [(ngModel)]="model.email" name="sign-up-email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="sign-up-password1">Password</label>
          <input [(ngModel)]="model.password" name="sign-up-email" type="password" class="form-control" id="sign-up-password1" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="sign-up-password2">Repeat Password</label>
          <input type="password" class="form-control" id="sign-up-password2" placeholder="Repeat Password">
        </div>
        <div class="form-group" style="text-align: center; margin-bottom: 0;">
          <button type="submit" class="btn btn-primary" (click)="signUp()">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>