<div class="modal-body">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6" style="text-align: center;">
          <img src="api/pets/{{pet.id}}/image" class="rounded-circle" alt="{{pet.name}}">
      </div>
    </div>

    <div class="row justify-content-center my-2">
      <div class="col-6" style="text-align: center;">
        <h2>{{pet.name | uppercase}}</h2>        
      </div>
    </div>

    <div class="row justify-content-center mb-4">
      <div class="col-8 p-0" style="text-align: center;">
        <div class="input-group">
          <input class="form-control" [(ngModel)]="date" name="dp"  ngbDatepicker #d="ngbDatepicker" (ngModelChange)="updateDate(date)">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="fas fa-calendar-alt"></i></button>
          </div>
        </div>        
      </div>
      <div class="col-4 p-0">
        <div class="input-group">
          <button type="button" class="btn btn-success" style="margin: 0 auto;" (click)="add()">Add</button>
        </div>        
      </div>
    </div>
  </div>

  <div class="list-group">
    <a class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let ac of model"
       [ngClass]="{'list-group-item-primary': ac.activityType.value == 'Feed',
                   'list-group-item-success': ac.activityType.value == 'Walk',
                   'list-group-item-warning': ac.activityType.value == 'Sleep',
                   'list-group-item-danger': ac.activityType.value == 'Treatment',
                   'list-group-item-info': ac.activityType.value == 'Visit vet'}">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ac.activityType.value}}</h5>
        <small>{{ac.duration}} hours</small>
      </div>
      <p class="mb-1">{{ac.description}}</p>
    </a>
  </div>

</div>
